@import "tailwindcss";
@import "../../../../shared/src/styles.css";
@custom-variant dark (&:where(.dark, .dark *));

@config "../../tailwind.config.js";

::view-transition-old(root),
::view-transition-new(root) {
  animation: none;
  mix-blend-mode: normal;
}